.container {
    display: grid;
    place-items: center;
    padding: 10% 0;
}

.text-container {
    animation: slideFromLeft 1s ease forwards;
    position: relative;
}

@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.primary-title {
    font-size: 4rem;
}

.primary-title,
.secondary-title {
    background-image: linear-gradient(90deg, rgb(106, 40, 153) 0%, rgb(135, 133, 133) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.secondary-title {
    font-size: 2rem;
}

.container p {
    color: rgb(211, 211, 211);
    padding: 0px 0 20px 0;
}

.buttons-container {
    display: flex;
    gap: 15px;
}

.buttons-container a.button-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: rgb(106, 40, 153);
}

.buttons-container a.button-link>*:first-child {
    margin-right: 5px;
}

/* ------ MEDIA QUERIES ------ */

/* cellphones and tablets */
@media screen and (max-width: 768px) {

    .container {
        padding: 20% 15px;
    }

    .container p {
        text-align: center;
        padding: 0 10px 10px 10px;
    }

    .primary-title {
        font-size: 3rem;
        text-align: center;
    }

    .secondary-title {
        font-size: 1.8rem;
        text-align: center;
    }

    .buttons-container {
        display: grid;
        gap: 10px;
        place-items: center;
    }
}

/* (desktops) */
@media screen and (min-width: 1024px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    .primary-title {
        font-size: 4rem;
    }

    .secondary-title {
        font-size: 2rem;
    }
}