.header {
    background-image: linear-gradient(90deg, rgb(106, 40, 153) 0%, rgb(135, 133, 133) 100%);;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.426);
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
}

.logo {
    width: 45px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

a.logo-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-list li {
    margin-right: 30px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.nav-list li a {
    text-decoration: none;
    color: #000;
    position: relative;
    transition: font-size 0.5s;
}

.nav-list li a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: rgb(106 40 153);;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.5s;
}

.nav-list li a:hover {
    font-weight: 600;
}

.nav-list li a:hover::after {
    width: 100%;
}